[core]
    editor = nvim
[push]
    default = upstream
    autoSetupRemote = true
[pull]
    rebase = true

[rerere]
    enabled = true

[core]
  autocrlf = input 
  ignorecase = false


[merge]
    tool = nvimdiff
[mergetool]
    prompt = true
[mergetool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\"  \"$MERGED\" \"$REMOTE\" -c 'wincmd w' -c 'wincmd J'"

[init]
  # When running `git init` create main as the default branch instead of master
  defaultBranch = main

[alias]
    lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    last = log -1 --decorate
    pretty  = log --pretty=format:"%C(auto)%h%d\\ %s\\ %C(cyan)[%aN]"
    gbprev = log --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset) %n %C(white)%s%C(reset) %n '
    # Run alias gp to push to the current branch
    push = "!f() { gp }; f"
